/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:#606678;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

    overflow-x:hidden;

    position:relative;

}

/* ==========================
   BACKGROUND
========================== */

.background{

    position:fixed;

    inset:0;

    background:
    radial-gradient(circle at top,#ADB1C255,transparent 45%),
    linear-gradient(180deg,#606678,#3f4555);

    z-index:-2;

}

.background::after{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
    to bottom,
    rgba(0,0,0,.10),
    rgba(0,0,0,.45)
    );

}

/* ==========================
   CARD
========================== */

.card{

    width:100%;

    max-width:420px;

    overflow:hidden;

    border-radius:28px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.12);

    box-shadow:
    0 20px 60px rgba(0,0,0,.45);

    animation:fadeUp .9s ease;

}
